<div class="c-app-navbar__section c-app-navbar__section--left">
  {{svg-jar "logo" class="c-app-navbar__logo"}}
</div>

<div class="c-app-navbar__section c-app-navbar__section--center">
  {{search-bar
      searchQuery=searchQuery
      setSearchQuery=(action setSearchQuery)
  }}
</div>

<div class="c-app-navbar__section c-app-navbar__section--right">
  {{query-dropdown
      class="u-mar-right-s"
      buttonName="Sort by"
      queryParamName="sortBy"
      dropdownItems=sortDropdownItems
  }}

  {{!-- TODO: Get rid of the dropdownAlignment, when auto alignment is implemented. --}}
  {{query-dropdown
      dropdownAlignment="right"
      buttonName="Arrange by"
      queryParamName="arrangeBy"
      dropdownItems=arrangeDropdownItems
  }}

  {{#button-dropdown alignment="right" hasArrow=false as |section|}}
    {{#if section.isButton}}
      {{svg-jar "more" class="c-icon c-icon--24px c-dropdown__trigger-icon"}}
    {{else if section.isDropdown}}
      <div class="c-dropdown__item" {{action showShortcutsBar}}>
        Show shortcuts
      </div>
    {{/if}}
  {{/button-dropdown}}
</div>
