{{app-navbar
    arrangeDropdownItems=arrangeDropdownItems
}}

<div class="c-app-main">
  <div class="c-app-content">
    {{#if arrangeBy}}
      {{asset-groups
          assets=assets
          currentAsset=currentAsset
          arrangeBy=arrangeBy
          setCurrentAsset=(action "setCurrentAsset")
      }}
    {{else}}
      {{asset-list
          assets=assets
          currentAsset=currentAsset
          setCurrentAsset=(action "setCurrentAsset")
      }}
    {{/if}}
  </div>

  {{app-pane currentAsset=currentAsset}}
</div>
