{{#if @model.filters}}
  {{app-sidebar
      sidebarFilters=@model.filters
      externalLinks=@model.links
      showShortcutBar=@showShortcutBar
  }}
{{/if}}

<div class="c-app-main">
  {{content-header
      arrangeDropdownItems=@model.arrangeBy
      sortDropdownItems=@model.sortBy
      searchQuery=@searchQuery
      setSearchQuery=(action @setSearchQuery)
  }}

  <div class="c-content js-content {{if (not this.assets.length) 'c-content--empty'}}">
    {{#if (not this.assets.length)}}
      <div class="c-placeholder">
        {{#if @searchQuery}}
          <div class="c-placeholder__image">
            {{svg-jar "search-big"  class="c-icon c-icon--48x48px"}}
          </div>
        {{/if}}

        <div class="c-placeholder__title">
          {{#if @searchQuery}}
            We couldn’t find any assets matching
            <span class="c-placeholder__code">
              {{@searchQuery}}
            </span>
          {{else}}
            No assets found
          {{/if}}

          {{#if this.filterName}}
            in
            <span class="c-placeholder__code">
              {{this.filterName}}
            </span>
          {{/if}}
        </div>
      </div>
    {{else if @arrangeBy}}
      {{asset-groups
          assets=this.assets
          arrangeBy=@arrangeBy
      }}
    {{else}}
      {{asset-list assets=this.assets}}
    {{/if}}
  </div>
</div>

{{app-pane
    currentAsset=this.currentAsset
    detailsItems=@model.details
    downloadCurrentAsset=(action "downloadCurrentAsset")
}}
