{{#if isOpen}}
  {{#c-dropdown
      triggerClass=(concat "js-dropdown-trigger-" elementId)
      attachment=attachment
      targetAttachment=targetAttachment
      close=(action "toggleDropdown")
  }}
    {{yield (hash isDropdown=true)}}
  {{/c-dropdown}}
{{/if}}

<button
  class="c-dropdown__trigger js-dropdown-trigger-{{elementId}}"
  onclick={{action "toggleDropdown"}}
>
  <div class="c-dropdown__trigger-inner">
    {{yield (hash isButton=true)}}
    {{#if hasArrow}}
      {{svg-jar "arrow-down" class="c-icon c-icon--16px c-dropdown__trigger-arrow"}}
    {{/if}}
  </div>
</button>
