{{#if this.isOpen}}
  {{#c-dropdown
      triggerClass=(concat "js-dropdown-trigger-" this.elementId)
      attachment=(concat "top " this.alignment)
      targetAttachment=(concat "bottom " this.alignment)
      close=(action "toggleDropdown")
  }}
    {{yield (hash isDropdown=true)}}
  {{/c-dropdown}}
{{/if}}

<button
  class="c-dropdown__trigger js-dropdown-trigger-{{this.elementId}}"
  onclick={{action "toggleDropdown"}}
>
  <div class="c-dropdown__trigger-inner">
    {{yield (hash isButton=true)}}
    {{svg-jar "arrow-down" class="c-icon c-icon--16px c-dropdown__trigger-arrow"}}
  </div>
</button>
