{{#if currentAsset}}
  <div class="c-app-pane__section">
    {{asset-preview asset=currentAsset}}
  </div>

  <div class="c-app-pane__section">
    <div class="c-app-pane__title">
      Copypasta
    </div>

    <code class="c-app-pane__copypasta">{{currentAsset.copypasta}}</code>
  </div>

  {{#if currentAsset.tags}}
    <div class="c-app-pane__section">
      <div class="c-app-pane__title">
        Tags
      </div>

      {{#each currentAsset.tags as |tag|}}
        <span class="c-app-pane__badge">
          {{tag}}
        </span>
      {{/each}}
    </div>
  {{/if}}

  <div class="c-app-pane__section">
    <div class="c-app-pane__title">
      Details
    </div>

    {{asset-details
        asset=currentAsset
        detailsItems=detailsItems
    }}
  </div>

  {{#if (not currentAsset.svg.viewBox)}}
    <div class="c-app-pane__section">
      <div class="c-app-pane__title">
        Errors
      </div>

      The viewBox is not set. This SVG is not scalable!
    </div>
  {{/if}}
{{else}}
  <div class="c-placeholder">
    <div class="c-placeholder__title">
      No Selection
    </div>
  </div>
{{/if}}