<div class="c-app-pane">
  {{#if @currentAsset}}
    <div class="c-app-pane__section c-pane-preview">
      {{svg @currentAsset.svg
          class="c-pane-preview__item c-pane-preview__item--base"
          width=@currentAsset.width
          height=@currentAsset.height
          data-test-pane-svg="normal"
      }}

      {{svg @currentAsset.svg
          class="c-pane-preview__item"
          width=(multiply @currentAsset.width 2)
          height=(multiply @currentAsset.height 2)
          data-test-pane-svg="big"
      }}
    </div>

    <div class="c-app-pane__section">
      <div class="c-app-pane__title" data-test-pane-copypasta-title>
        Copypasta
      </div>

      <code class="c-app-pane__copypasta" data-test-pane-copypasta-code>
        {{@currentAsset.copypasta}}
      </code>
    </div>

    <div class="c-app-pane__section">
      <div class="c-app-pane__title" data-test-pane-details-title>
        Details
      </div>

      <div class="c-pane-details">
        {{#each @detailsItems as |detailsItem|}}
          {{pane-details-item
              asset=@currentAsset
              detailsItem=detailsItem
          }}
        {{/each}}
      </div>
    </div>

    {{#if (not @currentAsset.svg.attrs.viewBox)}}
      <div class="c-app-pane__section" data-test-pane-warning>
        <div class="c-app-pane__title" data-test-pane-warning-title>
          Warning
        </div>

        <div data-test-pane-warning-text>
          The SVG is not scalable as it has no "viewBox" attribute.
        </div>
      </div>
    {{/if}}

    <div class="c-app-pane__section">
      <button
        class="c-btn c-btn--tertiary c-btn--full"
        {{action @downloadCurrentAsset}}
        data-test-pane-download-button
      >
        Download
      </button>
    </div>
  {{else}}
    <div class="c-placeholder">
      <div class="c-placeholder__title">
        No Selection
      </div>
    </div>
  {{/if}}
</div>