{{#basic-dropdown renderInPlace=true as |dropdown|}}
  {{#dropdown.trigger}}
    <button class="c-dropdown__trigger test-logo-dropdown-trigger">
      <div class="c-dropdown__trigger-inner">
        {{svg-jar "logo" class="test-logo-dropdown-logo"}}
        {{svg-jar "arrow-down" class="c-icon c-icon--16px c-dropdown__trigger-arrow"}}
      </div>
    </button>
  {{/dropdown.trigger}}
  {{#dropdown.content class="c-dropdown__content test-logo-dropdown-content"}}
    <div
      class="c-dropdown__item test-logo-dropdown-shortcuts-toggle"
      {{action (queue @showShortcutBar dropdown.actions.close)}}
    >
      Shortcuts
    </div>

    {{#each @externalLinks as |link|}}
      <a href={{link.url}}
        class="c-dropdown__item test-logo-dropdown-link"
        target="blank"
      >
        {{link.text}}
      </a>
    {{/each}}
  {{/dropdown.content}}
{{/basic-dropdown}}